@import 'tailwindcss';

@layer base {
	button:not([disabled]),
	[role='button']:not([disabled]) {
		cursor: pointer;
	}
}

@font-face {
	font-family: 'Righteous';
	src: url('/Righteous-Regular.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

@theme {
	--font-righteous: 'Righteous', sans-serif;
}
